html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

/* .container {
  padding: 20px;

} */

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #5595cd;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #8f83c7;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
  color: black;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

body{
  background-color: rgb(127, 145, 175);
  background-image: url('/public/images/alaskamountains.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
 

}


th, td {
  border: 6px solid rgb(238, 231, 231);
    border-collapse: collapse;
}

.name-challenge{
  color: rgb(7, 7, 7);
  text-align: center;
  margin-bottom: 55px;
  margin-top: 105px;

}
.habit-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.challenge-container {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-bottom: 25px;
}

.habit-image {
  width: 300px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 250px; /* Add spacing between image and text */
}

.challenge-image{
  width: 300px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 250px;
}



.habit-text {
  flex: 1; /* Take up remaining space */
  margin-right: 350px;
  
}

.challenge-text {
   margin-right: 350px;
}

.info-welcome{
  padding-top: 12px;
  padding-bottom: 30px;
  text-align: center;
  
}
.textone{
margin-bottom: 15px;
font-size: large;
}

.texttwo{
  font-size: large;
}

.intro-text{
  padding-bottom: 30px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}

.challenge-onetext{
  margin-bottom: 15px;
font-size: large;
}

.challenge-onetext{
  margin-bottom: 15px;
font-size: large;
}

.thank-you{
  text-align: center;
  
}

.technologies{
    margin-left: 35px;
    font-size: large;


}

.github{
  margin-left: 25px
  
  ;
}

.linkedin{
  margin-left: 25px
  ;
  font-size: large;

}

.connect{
  margin-left: 25px
  ;
  font-size: large;

}

.tackle{
  margin-left: 25px
  ;
      font-size: large;

}