.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #9ac8e2;
  overflow: hidden;

}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 14px;
  font-weight: 500;
  color: #0c0b0b;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #5a42ba;
  background-color: #ebcf60;
  text-align: center;
  padding: 26px 50px;
  text-decoration: none;
  font-size: 16px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #b5bcbc;
}
