.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #3b81ab;
  overflow: hidden;

}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 20px;
  font-weight: 700;
  color: #eae6ec;
  padding-left: 70px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #efeef4;
  background-color: #3b81ab;
  text-align: center;
  padding: 26px 50px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;



  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #5056ac;
}
